@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
font-family: var(--font-montsterrat);
  background: linear-gradient(
    to bottom right,
    #000000 0%,
    #200053 50%,
    #000000 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h2, h3, h4, h5, h6, br {
  font-family: var(--font-glancyr);
}

h1, .font-surgena {
  font-family: var(--font-surgena);
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-left {
  animation: marquee-left 25s linear infinite;
  display: flex;
  width: max-content;
}

.animate-marquee-right {
  animation: marquee-right 25s linear infinite;
  display: flex;
  width: max-content;
}
