@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    /* Base dark theme */
    --background: 263 100% 16%;
    --foreground: 0 0% 100%;

    --primary: 263 100% 16%;
    --primary-foreground: 0 0% 100%;

    --secondary: 270 20% 45%;
    --secondary-foreground: 0 0% 100%;

    --accent: 270 25% 72%;
    --accent-foreground: 0 0% 10%;

    --border: 270 20% 25%;
    --input: 270 20% 25%;
    --ring: 270 25% 60%;
  }
}

body {
  /* Use direct color instead of @apply */
  color: hsl(var(--foreground));
  font-family: var(--font-montsterrat);
  background: linear-gradient(
    to bottom right,
    #000000 0%,
    #200053 50%,
    #000000 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h2,
h3,
h4,
h5,
h6,
br {
  font-family: var(--font-glancyr);
}

h1,
.font-surgena {
  font-family: var(--font-surgena);
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
}